* {
    font-family: David;
}


div {
    display: flex;
    justify-content: center;
    margin: 40px;
    font-size: 1em;
}

td {
    padding: 10px;
}


h2 {
    text-align: center;
    padding-top: 20px;
}